<h1>Sign up</h1>

<!-- Nombre de la app aquí-->

<main>
    <form action="" method="post">
        <input type="text" placeholder="mail@mail.com" name="mail">
        <input type="text" name="password">
        <button>Log in</button>
    </form>
</main>