<h1>Log in</h1>

<!-- Nombre de la app aquí -->

<main>
    <form action="" merhod="post">
        <label for="mail">email</label>
        <input type="text" placeholder="mail@mail.com" name="mail">
        <label for="password">Contraseña</label>
        <input type="text" name="password">
        <label for="confirmPassword">Confirmar contraseña</label>
        <input type="text" name="confirmPassword">
    </form>
</main>